/*CLASES REUTILIZABLES*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
}

img {
  vertical-align: middle;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 14px;
  padding-right: 14px;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container:after {
  clear: both;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0px;
}

.m-0 {
  margin: 0px;
}

a {
  color: #373B47;
  text-decoration: none;
  margin: 20px;
}

a:hover {
  color: #E95853;
}

.text-uppercase {
  text-transform: uppercase;
}

/*ESCRIBE TU CÓDIGO DESDE AQUÍ*/

footer{
  background: #374858;
  padding: 5px;
  text-align: center;
}

header{
  height: 120px;
}

section{
  outline: 1px solid green;
  text-align: center;
}

.nav{ 
  box-sizing: border-box;
  outline: 1px solid red;
  display: inline;
  position: absolute;
  top: 50px;
  left: 200px;
  bottom: auto;
  right: auto;
  padding: 10px;
}

img[alt="logo"]{
  outline: 1px solid green;
  width: 60px;
  position: absolute;
  margin-left: 1250px;
  top: 50px;
}

img[alt="home"]{
  position: relative;
  width: 1700px;
}

button{
  position: absolute;
  background: #2ECC71;
  padding: 10px;
  border: 0px;
  font-size: 16px;
  font-weight: 600px;
  top: 650px;
  bottom: auto;
  left: 730px;
  right: auto;
}

button a{
  color: white;
}

article{
  outline: 1px solid purple;
  position: absolute;
  color: white;
  left: 360px;
  bottom: 180px;
  right: auto;
  top: auto;
}

#article-h2{
  margin-top: 20px;
}


#article-h1{
    font-size: 60px;
}

.box-text{
  background: #EC7063;  
}

.box-text h2{
  margin: 0px;
}

.img-services{
  width: 190px;
}

.box-text-img{
  display: inline-block;
  color: white;
  margin: 40px;
  padding: 40px;
}

.container-section{
  position: relative;
  color: white;
  top: 40px;
}

.box-text h6{
  margin: 0px;
}